@keyframes loading {
  0% {
    width: 0%;
  } 100% {
    width: 100%;
  }
}

#main {
  width: 100vw;
  height: 100vh;
}

#nav {
  width: 25%;
  height: 100vh;
  padding: calc(var(--spacing)*2);
  background-color: var(--primary);
  overflow: scroll;
}
#page {
  width: 75%;
  height: 100vh;
}

#nav-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

#loading-page {
  flex-direction: column;
  z-index: 1000;
}
#loading-container {
  width: 100px;
  height: 80px;
  margin: var(--spacing) 0;
  flex-direction: column;
  gap: var(--spacing);
}
.load {
  width: 100%;
  height: 33.33px;
  background-color: var(--accent);
  border-radius: 4px;
}
.load-bar1 {
  animation: loading 1s linear infinite;
  animation-delay: 0.6s;
}
.load-bar2 {
  animation: loading 1s linear infinite;
  animation-delay: 0.4s;
}
.load-bar3 {
  animation: loading 1s linear infinite;
  animation-delay: 0.2s;
}

.main-button {
  background-color: var(--accent);
  font-weight: 500;
}
.main-button * {
  color: var(--bg);
}
.primary-button {
  background-color: var(--bg);
  border-bottom: 2px solid var(--accent);
}
.secondary-button {
  background-color: var(--primary);
  color: var(--text);
  border: 2px solid var(--accent);
  font-weight: 500;
}
.back-button {
  position: absolute;
  z-index: 1001;
  border-radius: 50%;
  padding: calc(var(--spacing)/2);
}
.warning-button {
  background-color: var(--warning);
}

.card-container {
  display: grid;
  gap: var(--spacing);
  width: 100%;
  height: 80%;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 300px;
  overflow-y: scroll;
}
.accordion-container {
  overflow-y: scroll;
}
.characters-card {
  padding: calc(var(--spacing)/2);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary);
  height: 300px;
}
.books-card {
  transition: var(--transition);
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.books-card img {
  transition: var(--transition);
}
.books-card img:hover {
  scale: 1.2;
}

.modals {
  z-index: 999;
}
.modal-box {
  background-color: var(--primary);
  box-shadow: var(--shadow);
  flex-direction: column;
  padding: calc(var(--spacing)*2);
}
.characters-modals {
  width: 70%;
  height: 300px;
}
.characters-modals-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: calc(var(--spacing)/2);
}
.characters-modals-content p {
  font-weight: 500;
  text-align: center;
}
.characters-modals-content span {
  text-transform: uppercase;
  color: var(--accent);
}
.books-modals {
  width: 60%;
  height: 400px;
}

.form-container {
  width: 40%;
  height: 60%;
  background-color: var(--primary);
  flex-direction: column;
  justify-content: space-around;
  padding: var(--spacing);
}

.accordion-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}
.accordion {
  width: 100%;
  height: auto;
  background-color: var(--primary);
  padding: var(--spacing);
}
.accordion-head {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-head p {
  font-size: 1.5rem;
}
.accordion-body ul li {
  margin: 0 0 calc(var(--spacing)/2);
}

#timeline div {
  overflow-y: scroll;
  height: 100%;
  padding: var(--spacing);
}
#timeline-button-container {
  width: 30%;
  background-color: var(--primary);
  padding: var(--spacing);
}
#timeline-content-container {
  width: 70%;
}
.navs-button {
  border-left: 4px solid var(--accent);
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  transition: var(--transition);
}
.navs-button:hover * {
  font-size: 1.2em;
  color: var(--accent);
}
.navs-button::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translateY(-50%);
  top: 50%;
  left: -10px;
  background-color: var(--accent);
}

#world {
  gap: calc(var(--spacing)/2);
  display: flex;
  flex-wrap: wrap;
}
.tab-group {
  width: 100%;
  height: 60px;
  background-color: var(--primary);
  gap: var(--primary);
  padding: calc(var(--spacing)/2);
  justify-content: space-around;
}
.world-box {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  position: relative;
}
#continent-button-container {
  width: 30%;
  height: 100%;
  background-color: var(--primary);
  padding: var(--spacing);
  overflow-y: scroll;
}
.zoom-group {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: calc(var(--spacing)/2);
}
.continent-box {
  width: 70%;
  height: 100%;
  padding: var(--spacing);
  overflow-y: scroll;
}
.continent-header {
  width: 100%;
  height: 20%;
  overflow: hidden;
  margin: var(--spacing) 0;
}

.chapter-box {
  display: flex;
  justify-content: center;
  padding: var(--spacing);
  gap: var(--spacing);
}