/** Main */
#main {
  width: 100vw;
  height: 100vh;
}
#page {
  width: 75%;
  height: 100vh;
}

/** Navigation */
#nav {
  width: 25%;
  height: 100vh;
  padding: calc(var(--spacing)*2);
  background-color: var(--primary);
  overflow: scroll;
}

#nav-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

/** Loading */
#loading-page {
  flex-direction: column;
  z-index: 1000;
}
#loading-container {
  width: 100px;
  height: 80px;
  margin: var(--spacing) 0;
  flex-direction: column;
  gap: var(--spacing);
}
.load {
  width: 100%;
  height: 33.33px;
  background-color: var(--accent);
  border-radius: 4px;
}
.load-bar1 {
  animation: loading 1s linear infinite;
  animation-delay: 0.6s;
}
.load-bar2 {
  animation: loading 1s linear infinite;
  animation-delay: 0.4s;
}
.load-bar3 {
  animation: loading 1s linear infinite;
  animation-delay: 0.2s;
}

/** Cards */
.card-container {
  display: grid;
  gap: var(--spacing);
  width: 100%;
  height: 80%;
  grid-template-columns: repeat(5,1fr);
  overflow-y: scroll;
}
.cards {
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary);
  height: 300px;
}

/** Button */
.button-group {
  display: flex;
  gap: var(--spacing);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 998;
  width: auto;
  height: auto;
}
.button-group .button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.button {
  width: 100%;
}
.button:hover {
  transition: var(--transition);
  scale: 0.98;
  filter: brightness(115%);
}
.primary-button {
  background-color: var(--accent);
  font-weight: 500;
  color: var(--primary);
}
.secondary-button {
  background-color: var(--primary);
  color: var(--text);
  border: 2px solid var(--accent);
  font-weight: 500;
}
.back-button {
  position: absolute;
  z-index: 1001;
  border-radius: 50%;
  padding: calc(var(--spacing)/2);
}
.warning-button {
  background-color: var(--warning);
}
.navs-button {
  border-left: 4px solid var(--accent);
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  transition: var(--transition);
}

/** Modals */
.modals {
  z-index: 999;
  flex-direction: row;
  gap: var(--spacing);
}
.modal-box {
  background-color: var(--primary);
  box-shadow: var(--shadow);
  flex-direction: column;
  justify-content: space-around;
  padding: calc(var(--spacing)*2);
  width: 50%;
  height: 50%;
}
.second-modal-box {
  background-color: var(--primary);
  box-shadow: var(--shadow);
  width: 30%;
  height: 50%;
  display: grid;
  grid-template-columns: 100%;
  gap: var(--spacing);
  overflow: scroll;
  padding: var(--spacing);
}

/** Forms */
.form-container {
  width: 40%;
  height: auto;
  background-color: var(--primary);
  flex-direction: column;
  justify-content: space-around;
  padding: var(--spacing);
  gap: var(--spacing);
}

/** Accordions */
.accordion-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  overflow-y: scroll;
}
.accordions {
  width: 100%;
  height: auto;
  background-color: var(--primary);
  padding: var(--spacing);
}
.accordion-head {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/** Badges */
.badge-group {
  width: 100%;
  height: auto;
  display: flex;
  gap: calc(var(--spacing)/2);
  margin: calc(var(--spacing)/2);
}
.badges {
  width: auto;
  height: 40px;
  padding: calc(var(--spacing)/4) calc(var(--spacing)/2);
  background-color: var(--accent);
  border-radius: 20px;
}
.badges:hover {
  scale: 1.1;
  filter: brightness(115%);
  box-shadow: var(--shadow);
}
.badges * {
  color: black;
  font-weight: 500;
}