@import "tailwindcss";

/** FONT FAMILY */
@font-face {
  font-family: "BlackLetters";
  src: url("/src/assets/fonts/blackletter_ds/BLACEB__.TTF");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

:root {
  /* COLOR */
  --text: #c5c5c5;
  --bg: #0c0c0c;
  --primary: #252525;
  --accent: #e9c318;
  --warning: #ff2f2f;

  --transition: all 0.3s ease-in-out;
  --shadow: 5px 5px 15px rgba(0,0,0,0.8);
  --main-font: url("/src/assets/fonts/blackletter_ds/Blacklettersh.ttf");

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bg);
  color: var(--text);
}

* {
  scrollbar-width: none;
}

.desktop-mode {display: none;}
.phone-mode {display: block;}
@media (width >= 64rem /* 1024px */) {
    .desktop-mode {display: block;}
    .phone-mode {display: none;}
}

/** MAIN */
section {
  width: 100%;
  height: 100%;
  padding: var(--spacing);
}
h2 {
  margin: 0 0 calc(var(--spacing)*2);
  text-decoration: underline var(--accent);
  text-align: center;
  color: var(--text);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** INPUT */
input, textarea, select {
  width: 100%;
  height: 50px;
  padding: calc(var(--spacing)/2);
}
textarea {
  resize: none;
}