/* ? TABLET */
@media (max-width:1023px) {
    .phone-mode {
        display: block;
    }
    .desktop-mode {
        display: none;
    }
    .full-page {
        height: calc(100% - 60px);
    }
    #nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100% !important;
        height: 60px !important;
        padding: 0 !important;
        z-index: 500;
    }
    #nav h2 {
        display: none;
    }
    #nav-container {
        height: 100%;
        flex-direction: row !important;
        gap: 0 !important;
    }
    #nav-container .button {
        min-width: 20%;
    }
    #page {
        width: 100% !important;
    }
    .card-container {
        grid-template-columns: repeat(2,1fr) !important;
    }
    .cards {
        height: 600px !important;
    }
    .button-group {
        bottom: 80px !important;
    }
    .form-container {
        width: 90% !important;
    }
    #world-tab {
        padding: 0px;
    }
    .modals {
        flex-direction: column !important;
    }
    .modal-box {
        width: 90% !important;
    }
    .second-modal-box {
        width: 90% !important;
        height: 30% !important;  
    }
}
/* ? MOBILE */
@media (max-width:768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .cards   {
        height: 300px !important;
    }
    #world {
        flex-direction: row !important;
    }
    .world-box {
        display: flex;
        flex-direction: column !important;
    }
    #world-tab {
        height: 60px;
        padding: 0px;
        overflow: scroll;
    }
    #world-tab .button {
        min-width:25%;
    }
    #continent-button-container {
        width: 100% !important;
        height: 60px !important;
        padding: 0 !important;
        display: flex;
        flex-direction: row !important;
    }
    #continent-button-container .button {
        min-width: 25%;
        height: 100% !important;
    }
    .continent-box {
        width: 100% !important;
    }
    #timeline {
        flex-direction: column !important;
    }
    #timeline-button-container {
        width: 100% !important;
        height: 60px !important;
        padding: 0 !important;
        display: flex;
        flex-direction: row !important;
    }
    #timeline-button-container .button {
        min-width: 25%;
        height: 100% !important;
    }
    #timeline-content-container {
        width: 100% !important;
    }
}